@import "tailwindcss";


* {
  box-sizing: border-box;
}


html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

:root {
	/* Xitique Color Palette */
	--color-sky-blue-600: oklch(56.74% 0.071 210.55);

	--color-mint-leaf-500: oklch(69.49% 0.134 155.4);
	--color-mint-leaf-600: oklch(59.08% 0.112 155.54);
}
